body {
  background-color: #354048;
}

#main-container {
  padding-top: 150px;
}

.header_text {
    /*font-family: 'Allura';*/
    font-family: 'Cinzel', serif;
    font-size: 60px;
    font-weight: bold;
    
}

.text-primary {
  color: #29c0ec!important;
}

.sub_text {
   font-family: 'Cinzel', serif;
   font-size: 25px;
   font-weight: bold;
   padding-top: 15px;
}

#getMessage {
   font-size: 18px;
}

.image {
  width: 160px;
  height: 180px;
  border-radius: 300px;
  border-color: #29c0ec;
  border-width: 3px;
  border-style: solid;
  
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.text {
  color: white;
  font-family: 'Verdana';
  font-size: 20px;
}

i {
  color: white;
}

.btn {
  font-size: 35px;
  border-radius: 70px;
}

#buttons {
  display: none;
}


